# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.my_budget.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Dima\Documents\my_budget\.idea\.idea.my_budget\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
